	@charset "utf-8";
	/* CSS Document */
	body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
		margin:0;
		padding:0;
	}
	body{
		height: 100%;
		font-family: "微软雅黑",Arial;
		background-color:#fff;
	}
	ul,ol{
		list-style:none;
	}
	img{
		border: 0;
	}
	a{
		text-decoration: none;
	}
	
	/*标题*/
	#Zinxi{
		width: 600px;
		height: 500px;
		background-color: blueviolet
	}
